code {
    background-color: #333;
    color: #fff;
    padding-bottom: 1px;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.page-header p {
    padding: 10px 15px;
}

.page-header p span {
    /*color: #555;*/
    font-size: 95%;
}

.page-header .highlights li {
    float: left;
    padding: 10px;
    display: block;
}

.highlights .badge {
    font-size: 80%;
}

ul.file-list li h4 {
    padding-top: 10px;
}

ul.file-list li h4 a:hover {
    border-bottom: 1px dotted;
    text-decoration: none;
}

span.quality {
    background-color: #5cb85c;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    width: 25px;
    font-size: 90%;
    margin-left: 5px;
}

pre.prettyprint {
    border: 0 none;
    border-radius: 0;
    padding: 9.5px;
}

/* prettify code style
Uses the Doxy theme as a base */
pre .str, code .str {
    color: #BCD42A;
}

/* string  */
pre .kwd, code .kwd {
    color: #4bb1b1;
    font-weight: bold;
}

/* keyword*/
pre .com, code .com {
    color: #888;
    font-weight: bold;
}

/* comment */
pre .typ, code .typ {
    color: #ef7c61;
}

/* type  */
pre .lit, code .lit {
    color: #BCD42A;
}

/* literal */
pre .pun, code .pun {
    color: #fff;
    font-weight: bold;
}

/* punctuation  */
pre .pln, code .pln {
    color: #e9e4e5;
}

/* plaintext  */
pre .tag, code .tag {
    color: #4bb1b1;
}

/* html/xml tag  */
pre .htm, code .htm {
    color: #dda0dd;
}

/* html tag */
pre .xsl, code .xsl {
    color: #d0a0d0;
}

/* xslt tag */
pre .atn, code .atn {
    color: #ef7c61;
    font-weight: normal;
}

/* html/xml attribute name */
pre .atv, code .atv {
    color: #bcd42a;
}

/* html/xml attribute value  */
pre .dec, code .dec {
    color: #606;
}

/* decimal  */
pre.prettyprint, code.prettyprint {
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
    background: #333;
    color: #e9e4e5;
}

pre.prettyprint {
    white-space: pre-wrap;
    font: 14px helvetica, arial, sans-serif;
}

pre.prettyprint a, code.prettyprint a {
    text-decoration: none;
}

.linenums li {
    color: #A5A5A5;
    padding: 1px 0;
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: none;
}

.linenums li.current {
    background: rgba(255, 100, 100, .07);
    padding-top: 4px;
    padding-left: 1px;
}

.linenums li.current.active {
    background: rgba(255, 100, 100, .17);
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal !important
}

/* inspired by githubs kbd styles */
kbd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fcfcfc;
    border-color: #ccc #ccc #bbb;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 -1px 0 #bbb inset;
    color: #555;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}
